
// Front Page Staggered Animations

#factsp.animated.fadeInUp {

    animation-delay: 8s;
  }

  #scrollText.animated.fadeInUp {

    animation-delay: 9s;
  }

  #scrollArrow.fas.fa-angle-down.animated.fadeInUp {

    animation-delay: 9s;
  }

  #deathsSect.animated.fadeInDown {

    animation-delay: 6s; 

    span.animated.fadeInUp {

        animation-delay: 7s; 
    }
  }

// Mobile heart beat SVG styles

#beat1 {
    -webkit-clip-path: polygon(0% 0%, 58% 0%, 39% 81.8%, 0% 81.8%);
    clip-path: polygon(0% 0%, 58% 0%, 39% 81.8%, 0% 81.8%);
    -webkit-clip-path: url("#clip-shape"); 
    clip-path: url("#clip-shape");
 }
