#percentSect {

    border-top: 2px solid $font-color;
    border-bottom: 2px solid $font-color;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 0px;

}

.circleSect.flex {

    align-items: center;
}

#fifty-six {

    width: 9em;
}

#arrowSect {

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1.5em;
}

@media screen and (max-width: 767px) {

    .socSect.socCircles.flex {

        display: block;
        align-items: center;
        padding-left: 15%;
        padding-right: 15%;
        margin-bottom: 2em;
        flex-wrap: wrap;
    }

    
}

@media screen and (min-width: 620px) and (max-width: 1999px) {

    .socSect.socCircles.flex {

        .circleSect {

            display: flex;
        }
    }
}

@media screen and (min-width: 620px) and (max-width: 1200px) {

    .socSect.socCircles.flex {

        flex-wrap: wrap;

        .circleSect {

            width: 40%;
        }

        #arrowSect.circleSect {

            width: 80%;

            p.justify {

                flex: 1;
            }

            .down-arrow.justify {

                flex:0.2;
            }
        }
    }
}

@media screen and (min-width: 1024px) {

    #percentSect {

        margin-top: 1em;
        margin-bottom: 1em;

    }

}

.intro {

    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
}

.percentBlock {

    display:flex;
    //justify-content: center;
    align-items: flex-start;

    .percentSize {

        font-size: 2.5em;
        margin-top: 0.75em;
    }

    p {

        margin-bottom: 1em;
        margin-left: 15px;
    }
}

.percent-circle {

    width: 8em;
    display: block;
    margin: 0 auto;
    margin-top:1.5em;
    margin-bottom: 1em;
}

.second {

    margin-bottom: 18px;
}

.loading {

    padding-left:20px;
    padding-right:20px;
}

// Loading Animation 

/*.percent-circle {
    -webkit-animation: rotate 2s linear infinite;
            animation: rotate 2s linear infinite;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    width: 100%;

  }
  
  
  @-webkit-keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @-webkit-keyframes dash {
    0% {
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89,200;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 89,200;
      stroke-dashoffset: -124;
    }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89,200;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 89,200;
      stroke-dashoffset: -124;
    }
  }
  @-webkit-keyframes color {
    0% {
      stroke: #70c542;
    }
    40% {
      stroke: #70c542;
    }
    66% {
      stroke: #70c542;
    }
    80%, 90% {
      stroke: #70c542;
    }
  }
  @keyframes color {
    0% {
      stroke: #70c542;
    }
    40% {
      stroke: #70c542;
    }
    66% {
      stroke: #70c542;
    }
    80%, 90% {
      stroke: #70c542;
    }
  }*/
  

@media screen and (min-width:768px) {

    .circleSect {

        justify-content: center;
        align-items: center;
        margin-right: 40px;
    }

  

    .percentDesc {

        margin-left: 20px;
    }

    .percentSect {

        margin-top:1em;
        margin-bottom: 2em;
    }

    .socSect {

        padding-left: 17%;
    padding-right: 17%;
        margin-top: 1em;
    }
    


}

@media screen and (min-width: 768px) and (max-width: 1017px) {

    .socCircles {

        padding-left: 20%;
        padding-right: 10%;
    }
}

@media screen and (min-width: 1018px)  {

    .socCircles {

        padding-left: 15%;
        padding-right: 10%;
    }
}


@media screen and (min-width:1024px) {

  

    .percentBlock p {

        margin-top: 1em;
    }

}