#roomSect {

    position: relative;
}

#room {

    width: 50%;
    min-width: 50%;
    margin: 0 auto;
    display: block;
}

/* Box Grid Styles */

#grid {

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 1.5em;
}

.box {

    border: 2px solid $font-color;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $background-color;
    transition: background-color 0.5s ease;

    p {

        font-size: 0.875em;
        text-align: left;
    }
}

.box:hover {

    background-color: #D53D3D;
}

/* Heading Styles */

#before {

    font-weight: bold;
    border-bottom: 1px solid $font-color;
}

#not {

    font-size: 1.5em;
    line-height: 1.4em;
    text-align: center;
    font-weight: bold;
    font-family: $font-accent;
    margin-top: 1.75em;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 1em;

}

/*room SVG styles*/

#bring-pic {

    position: absolute;
    width: 6%;
    bottom: 70px;
    left: 49%;
    z-index: 1;
}

#equipment-pic {

    position: absolute;
    width: 13%;
    bottom: 100px;
    left: 62%;
}

#doctor-pic {

    position: absolute;
    width: 8%;
    bottom: 32px;
    left: 35%;
}

#healthcare-pic {

    position: absolute;
    width: 10%;
    bottom: 18px;
    left: 44%;
    z-index: 1;
}

#cozy-pic {

    position: absolute;
    width: 28%;
    bottom: 68px;
    left: 29%;
}

#social-worker-pic {

    position: absolute;
    width: 8%;
    bottom: 30px;
    left: 55%;
    z-index: 2;
}

/* Room Animation Styles for Ipad */

@media screen and (min-width: 768px) {

    #bring-pic {

        position: absolute;
        width: 11%;
        bottom: 155px;
        left: 49%;
        z-index: 1;
    }

    #equipment-pic {

        position: absolute;
        width: 27%;
        bottom: 180px;
        left: 66%;
    }

    #doctor-pic {

        position: absolute;
        width: 14%;
        bottom: 70px;
        left: 20%;
    }

    #healthcare-pic {

        position: absolute;
        width: 16%;
        bottom: 30px;
        left: 38%;
        z-index: 1;
    }

    #cozy-pic {

        position: absolute;
        width: 55%;
        bottom: 134px;
        left: 13%;
    }
    #social-worker-pic {

        position: absolute;
        width: 14%;
        bottom: 70px;
        left: 60%;
        z-index: 2;
    }
}

@media screen and (min-width: 768px) {

    #roomSect {
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    #room {

        width: 22em;
    }

    #grid {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 7px;
        margin-top: 1.5em;
        max-width: 400px;
        padding-left: 0px;
        padding-right: 20px;
        margin: 0 auto;

    }
}