#roomSect {

    position: relative;
}
#room {

    width: 50%;
    margin: 0 auto;
    display: block;
}

#grid {

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 1.5em;
}

.box {

    border: 2px solid $font-color;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    p {

        font-size: 0.875em;
        text-align: left;
    }
}

.box:hover {

    color:red;
}

#before {

    font-weight: bold;
    border-bottom: 1px solid $font-color;
}

#not {

    font-size: 1.125em;
    text-align:center;
    font-weight: bold;
    font-family: $font-accent;
    margin-top: 1.5em;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 1.5em;

}

/*room SVG styles*/

#bring-pic {

    position: absolute;
    width: 7%;
    bottom: 70px;
    left: 50%;
}

#equipment-pic {

    position: absolute;
    width: 13%;
    bottom: 100px;
    left: 62%;
}

#doctor-pic {

    position: absolute;
    width: 9%;
    bottom: 32px;
    left: 35%;
}

#healthcare-pic {

    position: absolute;
    width: 10%;
    bottom: 18px;
    left: 44%;
}



@media screen and (min-with:768px) {

    #room {

        margin-left: 10%;
    }

    #grid {

        margin-right: 10%;
    }

    .sectionHeading {

        margin-bottom: 40px;
    }

    #not {

        font-size: 1.75em;
    }

}

