.tops {

    text-align:center;
}

#hearts, #heartsFull {

    width: 80%;
    min-width:80%;
    min-height: 80%;
    display: block;
    margin: 0 auto;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
}


#since {

    font-size: 1.125em;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 1em;
}


#people, #people2 {

    width: 70%;
    min-width: 70%;
    min-height: 70%;
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

// Show mobile image sizes on mobile 


@media screen and (max-width: 767px) {

    #people2 {

        display: none;
    }


    #beat1 {

        display: block;
    }

    #beat2 {

        display: none;
    }

    #beat3 {

        display: block;
    }

    #beat4 {

        display: none;
    }

    #hearts {

        display: block;
    }

    #heartsFull {

        display: none;
    }
}

// Show desktop image sizes on tablet up 

@media screen and (min-width: 768px) {

    #people {

        display: none;
    }

    #people2 {

        display: block;
    }
    
    #beat1 {

        display: none;
    }

    #beat2 {

        display: block;
    }

    #beat3 {

        display: none;
    }

    #beat4 {

        display: block;
    }

    #hearts {

        display: none;
    }

    #heartsFull {

        display: block;
    }
}

// Media Queries for Margin, Padding and Font Size

@media screen and (min-width: 768px) {

    #since {

        margin-bottom: 2em;
    }
}

@media screen and (min-width: 768px) {

    #topsFullSect {

        .center{
    
            margin-top: 1.5em;
            margin-bottom: 1.5em;
            font-size: 1.5em;
        }

        #reversed.center {
    
            margin-bottom: 0em;
            margin-top: 1.5em;
            font-size: 1.5em;
       
        }
    }


}


@media screen and (min-width: 768px) {

    #people {

        margin-top: 2em;
        margin-bottom: 2em;
    }

    .tops-num {

        font-size: 1.5em;
    }

    .tops-num:nth-child(2) {

        margin-bottom: 2em;
    }

    #heartsFull {

        margin-bottom: 2em;
        margin-top: 2em;
    }

    #arrow-two {

        margin-top: .5em;
    }
}



