.tops {

    text-align:center;
}

#since {

    font-size: 1.125em;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 1em;
}

#people {

    width: 70%;
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

#hearts {

    width: 80%;
    display: block;
    margin: 0 auto;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
}

@media screen and (min-width: 768px) {

    #people {

        margin-top: 2em;
        margin-bottom: 2em;
    }

    .tops-num {

        font-size: 1.5em;
    }

    .tops-num:nth-child(2) {

        margin-bottom: 2em;
    }

    #hearts {

        margin-bottom: 2em;
        margin-top: 2em;
    }

    #arrow-two {

        margin-top: .5em;
    }
}



